# IST 652 - Lecture 2

![intro](img/welcometopython.png)

## Revisit:
    - Variables
    - Numbers
    - Strings
    
    
## Explore:
    - Booleans
    - Conditionals
    - Lists
    - Loops

## What are two number types in python?

In [1]:
# What data type is 2?
print(2)
print(type(2))

2
<class 'int'>

In [2]:
# What data type is 2.0?
z = 2.0
print(z)

print(type(z))

2.0
<class 'float'>

In [3]:
# Let's print teh statement: "z is data type: ..."
print("z is data type:", type(z))

z is data type: <class 'float'>

### PEMDAS!!
- Python (and all programming languages) follow mathematical order of operations

![pemdas](img/pemdas.png)

In [4]:
x = 4
y = 5
z = 6

In [5]:

print(x+y*z)
print(x+(y*z))
print((x+y)*z)

print(x-y*z)
print(x-(y*z))
print((x-y)*z)

34
34
54
-26
-26
-6

### Special Numeric Operators
    exponents >>> x**2
    floor division >>> x//2 (i.e. division without remainder)
    modulo operator >>> x%2 (i.e. division yielding only the remainder)
    modulo operator >>> x%2 (i.e. division yielding only the remainder)
    
##### For additional math functions check out the math library. e.g.:
    - math.log()
    - math.sin(), math.cos(), math.tan()
    - math.pi
    - math.factorial

In [8]:
x = 10
x**4
x//3
x%3

3
1

In [9]:
import math

In [16]:
#Need documentation about the module, try one question mark
math?

Type:        module
String form: <module 'math' from '/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/lib-dynload/math.cpython-312-darwin.so'>
File:        /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/lib-dynload/math.cpython-312-darwin.so
Docstring:
This module provides access to the mathematical functions
defined by the C standard.

In [17]:
print(math.pi)

3.141592653589793

In [19]:
math.factorial(15)

1307674368000

In [21]:
#Want the full source code, try two question marks
import os

In [23]:
os?

Type:        module
String form: <module 'os' (frozen)>
File:        /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/os.py
Docstring:
OS routines for NT or Posix depending on what system we're on.

This exports:
  - all functions from posix or nt, e.g. unlink, stat, etc.
  - os.path is either posixpath or ntpath
  - os.name is either 'posix' or 'nt'
  - os.curdir is a string representing the current directory (always '.')
  - os.pardir is a string representing the parent directory (always '..')
  - os.sep is the (or a most common) pathname separator ('/' or '\\')
  - os.extsep is the extension separator (always '.')
  - os.altsep is the alternate pathname separator (None or '/')
  - os.pathsep is the component separator used in $PATH etc
  - os.linesep is the line separator in text files ('\r' or '\n' or '\r\n')
  - os.defpath is the default search path for executables
  - os.devnull is the file path of the null device ('/dev/null', etc.)

Programs that import and use 'os' stand a better chance of being
portable between different platforms.  Of course, they must then
only use functions that are defined by all platforms (e.g., unlink
and opendir), and leave all pathname manipulation to os.path
(e.g., split and join).

---
# Strings

In [24]:
# Sample String
string = 'IST 652 is a great course offered in the iSchool'

### How many characters does this string have?

In [25]:
len(string)

48

### How do we return the same string, but lower case?

In [26]:
print(string.lower())

ist 652 is a great course offered in the ischool

### And upper case?

In [27]:
print(string.upper())

IST 652 IS A GREAT COURSE OFFERED IN THE ISCHOOL

### How about we concatenate with another string...

In [28]:
string2 = "taught by Hernando Hoyos"
# Concatenate here:
print(string, string2)

IST 652 is a great course offered in the iSchool taught by Hernando Hoyos

----

### Strings are a collection of values (characters) which are indexed!
#### <span style="color:red">IMPORTANT: Indexing BEGINS at **0** !</span>
![pemdas](img/pythonstring.png)

### Select the First Character...

In [29]:
'Python'[0]

'P'

In [30]:
'Python'[-6]

'P'

### Select second character...

In [31]:
py_string = 'Python'
py_string[-5]

'y'

In [32]:
py_string[1]

'y'

### Select the last character...

In [33]:
len(py_string)

6

In [34]:
py_string[5]

'n'

### Select the second to last character...

In [35]:
py_string[4]

'o'

### Select the first through third character...

In [39]:
py_string[0:3]
# 2nd index is non-inclusive
py_string[-3:-6]
# Now, try selecting everything up to through third character

''

### From the reading....Asking for User Input
### Let's ask the user where they are from

In [41]:
origin = ''
origin = input('Where are you from?')

In [43]:
print(origin)

India

### <span style="color:red">NOTE: This is on your first lab ^^</span>

---

<h2>Can anyone name this famous mathematician?</h2>

![GeorgeBool](img/boole.png)

<h3>
Born on 1815 in Lincoln, England
</br>
</br>
Died on December 8, 1864
</h3>

<h3>George Boole</h3>

# Boolean Operations

##### George Boole

His legacy is Boolean logic, a theory of mathematics in which all variables are either "true" or "false", or "on" or "off". The theory preceded the digital age, with American Claude Shannon applying Boolean logic to build the electrical circuits in the 1930s that led to modern computers.
- <i>The Daily Telegraph, 11-02-15, James Titcomb</i>
- <i>https://www.telegraph.co.uk/technology/google/google-doodle/11968997/george-boole-google-doodle.html</i>

#### Boolean is a data type in python and encompasses two values: True and False

In [44]:
print('True is type: '+str(type(True)))
print('False is type: '+str(type(False)))

True is type: <class 'bool'>
False is type: <class 'bool'>

### We can use expressions with comparison operators to compute these values.

#### (1) Equality: ==

In [45]:
x = 10
x == 10.0

True

#### ^^ Notice the difference between the assignment opeator ( = ) and the equality opertor ( == ) 
---

In [46]:
x == 9

False

In [47]:
val = 'Abc'
val == 'Abc'

True

In [48]:
# Do we think that this will be True or False?
# i.e. Is Python case sensitive?
val == 'abc'

False

In [49]:
# recall the the string method upper? Let's see if we can't python at it's own game?!
val.lower() == 'abc'

True

In [50]:
val.upper() == 'abc'.upper()

True

#### (2) Nonequality: !=

In [51]:
val = 'Abc'
val != 'Abc'

False

In [52]:
val != 'abc'

True

#### (3) Inequality:
    >
    <
    >=
    <=
    
- Numeric Comparison: traditional magnitudinal truth
- String Comparison: alphebatic ordering

In [53]:
5<10

True

In [54]:
'abc' > 'xyz'

False

In [55]:
'abc' >= 'xyz'

False

In [56]:
'abc' < 'xyz'

True

In [57]:
'abc' <= 'xyz'

True

In [58]:
'xyz' < 'xyz'

False

In [59]:
'XYZ' < 'abc'
# characters are sorted alphabetically starting with special characters ($,@,#),
# followed by CAPITALIZED letters, then lowercase

True

#### (4) Chaining Equality

You can combine Boolean expressions with the logical operations, which in Python, the logical operators are just given their English names:
- <b>and
- or
- not</b>

In [60]:
num1 = 5

In [61]:
(num1 >= 0) and (num1 < 10)

True

In [62]:
(num1 >= 0) and (num1 < 4)

False

In [63]:
(num1 >= 0) and not(num1 < 10)

#NOTE: not flips the boolean sign (True >> False or False >> True)

False

---

# Conditional Statements

Conditional statements are also known as “if-then” statements or “if-then-else” statements.  Conditional statements give us the ability to check some condition (which will have value True or False) and give a statement or statements that will only be executed in the condition is True.  We can also optionally give a statement or statements to be executed in the condition is False.

The start of a conditional statement is the keyword “if” followed by a Boolean conditional expression.  To show the statements that will be executed when the condition is true, we give them as a separate “block”, an inner part of the statement.
- <b>NOTE:</b> In some languages, this part uses the “then” keyword, hence the alternate name.


<b>In Python</b>, the conditional is a multi-line statement, and we show multi-line statements with the initial line ending in a <b>:</b>, and any inner block <u>should</u> be indented:
- 4 spaces
- 1 tab

In [64]:
print(str(1)+':')
x = 10

if x <= 10 and x> 2:
    print(x) # notice the indent - python identifies this as the block

print('\n')  # prints a line break  
    
print(str(2)+':')
y = 11

if y <= 10:
    print(y)

1:
10


2:

In [65]:
# if num1 is less than 10, then set num2 to be 100*num1, otherwise set them equal to each other.

num1 = 5

if (num1 < 10): # notice that you can wrap a logic statement in parenthesis. This helps with chaining conditions
    num2 = num1 * 100
elif (num1 > 10):
    num2 = num1 / 100
else: # notice else doesn't require a discrete condition, it's the garbage colector
    num2 = num1


print('num1 = '+str(num1))
print('num2 = '+str(num2))

num1 = 5
num2 = 500

#### What if there are more than two logical outcomes?

In [66]:
# if num1 is less than 10, then set num2 to be num1*100
# if num1 is greater than 10, then set num2 to be num1/100
# otherwise set them equal to each other.

num1 = float(input('Enter a number: '))

if (num1 < 10):
    num2 = num1 * 100
elif (num1 > 10): #elif follows the same structure as if
    num2 = num1 / 100
else:
    num2 = num1


print('num1 = '+str(num1))
print('num2 = '+str(num2))

num1 = 5.0
num2 = 500.0

## Exercise 1

In [76]:
#Define 2 variables that each contain a phrase.
#One phrase should be all lower case, and the other should be mixed case. 
#Print the string in all caps if it is all lowercase characters. If not, simply print the phrase. 
#Test both phrases
#Post your solution to blacboard
a = "hey"
b = "Disha"

def small_fun(st):
    if st.lower() == st:
        print(st.upper())
    else:
        print(st)

small_fun(a)
small_fun(b)

HEY
Disha

---

# Data Type:  List

The next data type that we will look at are lists.

Like a string, a <b>list</b> is a sequence of values. In a string, the values are chracters while in a list a values can be any data type (i.e. str, float, int, bool, etc.).

These list values are often called elements or items of a list

There are several ways to construct a list, but the simplest is to enclode values in square brackets:

In [71]:
myList1 = [1,2,3,None]
# notice the None - this is a Nonetype data type. It's similar to a null value.

In [70]:
print(myList1)

[1, 2, 3, None]

In [73]:
myList2 = ['a','b','c','d']
#this list has all the same types of data: str

myList3 = [myList1, myList2]
# this list has two elements, each of which is a list. This is refered to as being nested.

myList4 = []
# this is an empty list and it's useful as a placehold for adding things later (i.e. initializing a list)

#### Recall indexing of strings, the same indexing and slicing work on strings!

In [74]:
# return the first element of myList1
myList1[0]

1

In [75]:
# return the last 2 elements of myList2
myList1[2:4]

[3, None]

#### you can also fetch elements in nested lists

In [77]:
# What value the following code yield?
myList3[0][1]

2

In [78]:
# And Here?
myList3[1][1:]

['b', 'c', 'd']

#### Adding and removing elements of a list

In [79]:
myList3.append(5)
print(myList3)

[[1, 2, 3, None], ['a', 'b', 'c', 'd'], 5]

In [80]:
del myList3[-1]
myList3

[[1, 2, 3, None], ['a', 'b', 'c', 'd']]

#### Boolean Comparison for lists and strings

In [81]:
# If you have any sequence (list, or string),
# you can test if an item is in the sequence using the keyword “in” as an operator.
# This works to test if an item is in a list.

print('a' in myList2)
print('b' in myList1)

True
False

In [82]:
# Is 'a' in myList3, which itself contains myList2?
print('a' in myList3)

False

In [83]:
'el' in 'elephant'

True

In [84]:
'ph' in 'elephant'

True

In [85]:
'hp' in 'elephant'

False

In [86]:
('p' in 'elephant') and ('z' in 'elephant')

False

In [87]:
('p' in 'elephant') or ('z' in 'elephant')

True

---
# Simple Loops

One of the most common operations on lists is to iterate over all the elements. Python has a <b>“for”</b> loop <i>(called “for each” in some languages)</i> that allows you to use an item variable to name each element in the list in order.  The “for” loop is also a multi-line statement and follows the same rules as "if".  The keyword in is used to indicate that we are taking elements from that list.

In [88]:
word = 'python'

for x in word: # char will act as the iterator variable and will disapear after the loop is complete
    print(x)

p
y
t
h
o
n

In [89]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for idx,num in enumerate(numbers):
    if num <= 5:
        print('index:', idx, 'value:', num)

index: 0 value: 1
index: 1 value: 2
index: 2 value: 3
index: 3 value: 4
index: 4 value: 5

Another common pattern is to construct a list with a loop in which each element is added to the list.

We start with an empty list and then add an item each time around the loop.

In [90]:
myList4 = []
print('My List 2:')
print(myList2)

for elem in myList2: # this is called upacking a list
    newstring = 'character: ' + elem
    myList4.append(newstring)
    
print('\n')
print('My List 4:')
print(myList4)

My List 2:
['a', 'b', 'c', 'd']


My List 4:
['character: a', 'character: b', 'character: c', 'character: d']

In [91]:
myList5 = []
print('My List 1:')
print(myList1)


for elem in myList1[:-1]: # unpack all elements except the last which is a None value
    newint = elem**2 # return the value in the list, squared
    myList5.append(newint)
    
print('\n')
print('My List 5:')
print(myList5)

My List 1:
[1, 2, 3, None]


My List 5:
[1, 4, 9]

<b>NOTE:</b> The other loop type is <b>while</b> and this keeps looping until the conditional statement is no longer evaluates as True

In [92]:
#simple while loop

i=0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

## Range Function

Range is a python function which produces numbers from 0 to N-1, and we can use that in our loops:

In [93]:
# let's see what range produces when iterated over
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [94]:
# let's append to a list only even values yielded by range(N)

evens = []
user_input = int(input('Enter an integer great than 0: '))

for i in range(user_input):
    if i%2 == 0 and i>0: # Is 0 even?
        evens.append(i)

print('\nEven integers in range (0 - '+str(user_input)+'):')
print(evens)

Even integers in range (0 - 6):
[2, 4]

## Exercise 2

In [96]:
#Define two phrases
#For each phrase only select the even letters if they are vowels. 
#Concatenate all the even letters into one string. 
#Print the string and the length of the string

# Defined two phrases
phrase1 = "Hi, how are you?"
phrase2 = "I am fine."

# Vowels 
vowels = "aeiouAEIOU"

# Result variable inistialized
result = ""

# Loop through even indexes of phrase1
for i in range(1, len(phrase1), 2):  
    if phrase1[i] in vowels:
        result += phrase1[i]

# Loop through even indexes of phrase2
for i in range(1, len(phrase2), 2):
    if phrase2[i] in vowels:
        result += phrase2[i]

# Print the result and its length
print("Concatenated even-positioned vowels:", result)
print("Length of the result:", len(result))

1
3
5
7
9
11
13
15
Concatenated even-positioned vowels: ioo
Length of the result: 3

---

---

# Review

    - Variables
    - Numbers
    - Strings
    - Booleans
    - Conditionals
    - Lists
    - Loops